# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

#### Objectives:
- List popular languages for Data Science
- List libraries commonly used in Data Science
- Create a table listing Data Science developer environment tools
- Create code cells with arithmetic functions

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Scikit-learn
3. Matplotlib

| Data Science Tools |
| ------------------ |
| JupyterLab |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expression in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Brandon Dang